.form {
        margin-top: 30px;
        margin-bottom: 30px;
}

.container-contacts {
        display: inline-flex;
        flex-direction: column;
        width: 350px;
}

.container-list-contacts {
        display: flex;
        flex-direction: column;
        min-width: 350px;
}

.container-filter {
        display: inline-flex;
        flex-direction: column;
        width: 350px;
}

.input {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 25px;
        width: 270px;
        height: 25px;
        border-radius: 25px;
        border: 1px solid #555;
}
      
.item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
}
      
.text {
        display: inline;
        margin-right: 20px;
        margin-bottom: 0;
}
      
.button {
        margin-top: 10px;
        padding: 10px;
        text-align: center;
        color: #ffffff;
        background-color: #1f99fd;
        border-color: transparent;
        border-radius: 16px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
      
.button:hover {
        box-shadow: none;
        background-color: #119281;
}

.deletebutton {
        border-radius: 50px;
        background-color: #f13333;
        border: transparent;
        align-items: center;
}

.loader-container {
        text-align: center;
        padding-top: 70px;
}

