.container {
        padding: 0 50px;
}
      
 .navbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
      
.navlist {
        display: flex;
        flex-direction: row;

}

.navitem{
        margin: 10px;
        color: black;
}